h1 {
    text-align: center;
    size: 70px;
}

body {
    background: #E8CBC0;
    background: -webkit-linear-gradient(to right, hsl(229, hsla(16, 47%, 83%, 0.74)), hsla(16, 47%, 83%, 0.74));
    background: linear-gradient(to right, hsl(229, hsla(16, 47%, 83%, 0.74)), hsla(16, 47%, 83%, 0.74));
    justify-content: center;
   
}

button {
    color: #e8cbc0;
    border-radius: 5px;
    border-color: #d19e8c;
    width: 45px;
    height: 45px;
    margin-inline:initial;
    size: 55px;
}